<div class="row">
  <div class="span6 offset1 clearfix">
    <div class="home-what-change">
      <h2>
        What's changed yesterday?
      </h2>
      <h2>        
        Is there new/moved/removed card?
      </h2>
    </div>
    <%= image_tag 'overview/wall.jpg' %>
  </div>
  <div class="span5 home-steps">
    <h2>Take a picture! You'll know.</h2>
    <div class="well" style='margin-top: 30px'>
    <p>
      Start from here
    </p>
    <ol>
      <li><%= link_to 'Setup a card wall EWall likes', setup_wall_path %></li>
      <li>Take picture of your card wall</li>
      <li><%= link_to 'Create New Wall', new_wall_path, :class => 'btn btn-primary' %></li>
      <li>Upload your picture, and confirm cards found by EWall</li>
    </ol>
    <p>
      Later
    </p>
    <ol>
      <li>Take another picture of your card wall</li>
      <li>Upload your picture, and confirm cards found by EWall</li>
    </ol>
    <p>
      Then, you'll know what's changed
    </p>
    </div>
  </div>
</div>
