
<div id='exporting_wall' data-export-file="<%= @export_file %>" data-url="<%= wall_download_path(@wall) %>">
  <h2>Exporting <%= @wall.name %></h2>
  <p>Please wait, it may take a while to package all snapshots.</p>
  <div class="progress progress-striped active"><div class="bar"style="width: 100%;"></div></div>
</div>
