
<div id='importing_wall' data-url="<%= import_progress_walls_path(:format => :json, :importing_dir => @importer.target_dir) %>">
  <h2>Importing <%= params[:file].original_filename %></h2>
  <p>Please wait, it may take a while to unpackage all snapshots.</p>
  <div class="progress progress-striped active"><div class="bar"style="width: 100%;"></div></div>
</div>
