<li class="ui-widget-content ui-corner-all card <%= 'new-card' if card.new_card? %>">
  <%= image_tag(@wall.card_image_uri[card], card_image_data(card)) %>
  <a href="#" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a>
  <a href="#" title="<%= card.identifier %>" class='card-identifier'><%= card.identifier.to_s.truncate(10) %></a>
  <%- unless card.positive.nil? -%>
    <%- if card.positive -%>
      <a href="#" title="Delete this image" class="ui-icon ui-icon-trash">Delete image</a>
    <%- else -%>
      <a href='#' title='Recycle this image' class='ui-icon ui-icon-refresh'>Recycle image</a>
    <%- end -%>
  <%- end -%>
</li>
