<div class='well columns'>
  <table class="table-bordered">
    <thead>
      <tr>
        <%- columns.each do |column| -%>
        <th>
          <%= image_tag(column.head.image, column.head.data.merge(:class => 'head')) %>
          <span class="badge badge-info"><%= column.body.size %></span>
        </th>
        <%- end -%>
      </tr>
    </thead>
    <tbody>
      <tr>
        <%- columns.each do |column| -%>
        <td class="column" style="width: <%= 100.0/columns.size %>%">
          <%- column.body.each do |card| -%>
            <%= image_tag(card.image, card.data) %>
          <%- end -%>
        </td>
        <%- end -%>
      </tr>
    </tbody>
  </table>
</div>
