<%- if @snapshot.analyzed? -%>
  <%= render :partial => 'show', :locals => { snapshot: @snapshot } %>
<%- else -%>
  <h3>Analysis in progress</h3>
  <div class='well'>
  <p>First, EWall tries to find out all cards on your snapshot picture.</p>
  <p>Second, EWall tries to identifier each card image by matching with cards in previous snapshots.</p>
  <p>Depends on how many cards on your wall, this process may take 1 to 3 minutes.</p>
  </div>
  <div class="snapshot-analysis progress progress-striped active">
    <div class="bar" style="width: <%= @snapshot.in_analysis %>%;"></div>
  </div>
<%- end -%>