// Place all the styles related to the Snapshots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-identifier-form {
  padding: 3px;
  input {
    float: left;
  }
  button {
    float: right;
  }
}

#label_new_cards {
  img.card {
    width: 256px;
    max-height: 500px; /* release max-height limit */
    float: left;
  }
  img.typeahead-img {
    width: 256px;
  }
  img[src='/images/loading.gif'] {
    width: 64px;
  }
  input[name='card[identifier]'] {
    width: 350px;
  }
  .icon-thumbs-down {
    margin-top: 80px;
    float: right;
  }
  .form-actions {
    padding: 10px 0 0 0;
    .icon-thumbs-up {
      float: right;
    }
  }
  button.prev-image {
    float: left;
  }
  .identifier {
    float: left;
    padding-left: 10px;
  }
}

#dup_cards {
  float: right;
  padding: 1%;
  position: fixed;
  right: 15px;
  top: 400px;
  height: 150px;
  width: 180px;
}
#dup_cards h4 { line-height: 16px; margin: 0 0 0.4em; }

.typeahead, .dropdown-menu {
  z-index: 1003;
  img {
    width: 256px;
  }
}

.columns {
  background-color: #111;
  table {
    width: 100%;
    color: white;
    img {
      margin-top: 3px;
      margin-bottom: 3px;
      max-height: 90px;
    }
    td {
      border-top: 1px solid #DDD;
      padding: 8px;
      line-height: 18px;
      vertical-align: top;
    }
  }
}
